@{
    ViewBag.Title = "Posted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br /><br />
            <h4><strong>Thank You</strong>, your message has been received.</h4><br />
            <a href="/?sessionId=@ViewBag.SessionId">Go to home page</a>
        </div>
    </div>
</div>
