@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login to Your Account</h1><br>
            <span class="text-danger" id="lblInvalidLogin">Invalid email or password!</span>
            <form class="form-horizontal" action="" method="POST">
                <!-- Email-->
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="Your email" class="form-control">
                    </div>
                </div>
                <!-- Password -->
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="Your password" class="form-control">
                    </div>
                </div>
                <div class="control-group" style="padding-top:10px;">
                    <div class="controls">
                        <input type="button" class="btn btn-primary btn-lg" id="btnLogin" value="Login" />
                    </div>
                </div>
            </form>
            <br />
            <div>
                Only registered members can store <strong>data transformation rules</strong>.
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#lblInvalidLogin').hide();

        $('#btnLogin').click(function () {
            setTimeout(function(){$('#lblInvalidLogin').show();}, 1000);
        });

        $('.form-control').focus(function () {
            $('#lblInvalidLogin').hide();
        });
    });
</script>